* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
  }
  body {
    background: url('https://images.pexels.com/photos/702634/pexels-photo-702634.jpeg') no-repeat center fixed;
    /* background-color: black; */
    background-size: cover;
    text-transform: uppercase;
  }
  .logo {
    height: 100px;
    width: 100px;
    margin-top: 25px;
  }


  #js-form {
    font-size: 20px;
    text-transform: uppercase;
  }
  #js-search-term {
    background-color:black;
    padding: 10px;
    border-radius: 0px;
    border: white 1px solid;
    font-size: 20px;
  }
  #js-search-button {
    background-color:black;
    padding: 10px;
    border-radius: 0px;
    border: white 1px solid;
    font-size: 20px;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  li {
    list-style: decimal;
    /*look to improve numbering and margins of list*/
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }

/* media queries */
@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 320px) and (max-width: 568px) {
  
}
